body{
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.hide-data{
    display: none;
}
.item-title-ctn{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
    background: white;
    border-bottom: 1px solid rgb(200, 200, 200);
    box-shadow: 0px 2px 5px rgb(170, 170, 170);
    text-align: center;
    margin-bottom: 10px;
    z-index: 9997;
}
.item-title{
    font-weight: 200;
    font-size: 20px;
    height: 60px;
    width: 90%;
    display: inline-block;
    line-height: 60px;
}
.ul-right{
    float: right;
}
.li-float{
    float: left;
    font-size: 14px;
}
.li-vertical{
    margin: 0px 7px;
    color: #e9e9e9;
}
.p-e{
    color: rgb(97, 97, 97);
}
.p-e:hover, .p-e:active{
    color: #ff6700;
}

.item-img-ctn{
    width: 40%;
    height: 560px;
    margin-left: 3%;
    position: sticky;
    top: 70px;
    float: left;
    z-index: 9998;
}
.goods-img{
    width: 530px;
    height: 530px;
    margin: 10px auto;
    display: none;
}
.goods-img-first{
    display: block;
}
.ui-controls{
    height: 0px;
    width: 100%;
    position: relative;
    top: -280px;
}
.ui-prev{
    display: block;
    float: left;
    width: 41px;
    height: 69px;
    background: url(../images/buy/icon-slides.png) no-repeat -84px 50%;
}
.ui-next{
    display: block;
    float: right;
    width: 41px;
    height: 69px;
    background: url(../images/buy/icon-slides.png) no-repeat -126px 50%;
}
.ui-prev:hover, .ui-prev:active{
    background: url(../images/buy/icon-slides.png) no-repeat 0px 50%;
}
.ui-next:hover, .ui-next:active{
    background: url(../images/buy/icon-slides.png) no-repeat -42px 50%;
}

.item-buy-ctn{
    width: 50%;
    margin-left: 3%;
    clear: both;
    display: inline-block;
}
.buy-title-ctn{
    height: 70px;
    width: 100%;
    background: white;
    margin-bottom: 20px;
}
.buy-title{
    font-size: 24px;
    margin: 30px 0px 5px 0px;
}
.buy-desc{
    color: #b0b0b0;
    font-size: 14px;
}
.address-ctn{
    height: 100px;
    width: 100%;
    border: 1px solid #e0e0e0;
    background: #fafafa;
    position: relative;
    margin-bottom: 45px;
    line-height: 50px;
    text-align: left;
    padding: 15px;
    font-size: 16px;
    color: #333;
}
.modify-address{
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.address-ctn span a{
    color: #ff6700;
}
.choose-ctn{
    width: 100%;
    margin-bottom: 25px;
    background: white;
    text-align: center;
}
.actual-choose{
    width: 100%;
    margin-top: 35px;
    clear: both;
}
.choose-title{
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.choose-value{
    width: 44%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin: 0px 2.5% 0px 2.5%;
    display: inline-block;
    border: 1px solid #e0e0e0;
    color: #333;
    background: #fafafa;
}
.surplus{
    display: inline-block;
    margin-top: 25px;
   /*  color: #ff6666; */
   color: white;
}
.goods-price{
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
}
.choose-amount-ctn{
    width: 100%;
    margin: 0px 0px 40px 0px;
}
.title-left{
    display: inline-block;
    width: 30%;
    font-size: 18px;
    color: #333;
}
.content-right{
    width: 69%;
    text-align: center;
    display: inline-block;
}
.price{
    font-size: 20px;
    color: #ff6700;
}
.change-block{
    display: inline-block;
    height: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    color: #ff6700;
}
.minus{
    width: 10%;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}
.amount{
    width: 15%;
}
.add{
    width: 10%;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.confirm-ctn{
    width: 100%;
    margin-bottom: 20px;
    background: #f9f9fa;
}
.confirm-text{
    float: left;
    height: 60px;
    width: 74%;
    line-height: 30px;
    color: #616161;
    font-size: 14px;
    text-align: left;
    padding: 5% 3% 5% 3%;
    overflow: hidden;
}
.confirm-amount{
    float: left;
    height: 60px;
    width: 13%;
    line-height: 30px;
    color: #ff6700;
    font-size: 14px;
    text-align: center;
    padding: 5% 3% 5% 3%;
}
.confirm-price{
    clear: both;
    height: 40px;
    width: 93.5%;
    line-height: 40px;
    color: #ff6700;
    font-size: 24px;
    text-align: left;
    padding: 0% 3% 3% 3%;
}

.buy-ctn{
    width: 100%;
    background: white;
}
.buy-submmit{
    background: #ff6700;
    color: white;
    display: inline-block;
    width: 45%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.cart{
    background: #ff6700;
    color: white;
    width: 45%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: right;
}
.parameter{
    height: 430px;
    width: 90%;
    margin: 30px 5% 10px 5%;
    border-top: 1px solid #e9e9e9;
    background: white;
}

.title-ctn{
    width: 15%;
    padding-left: 4%;
    padding-top: 40px;
    border-right: 1px solid #e9e9e9;
    float: left;
}
.title-span{
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 28px;
}
.parameter-ctn{
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 10px;
}
.parameter-block{
    width: 100%;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-align: left;
}
.span-parameter{
    font-size: 18px;
    color: #333;
}
.span-parameter-l{
    display: inline-block;
    width: 22%;
    margin-left: 5%;
}
.separate-point{
    width: 4px;
    height: 4px;
    background: gray;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    /* box-shadow: 1px 1px 5px rgb(170, 170, 170); */
    margin-right: 5%;
    display: inline-block;
}

.evaluation{
    width: 90%;
    margin: 10px 5% 10px 5%;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: white;
}
.evaluation-list-ctn{
    width: 80%;
    display: inline-block;
    clear: both;
}
.base-eval-ctn{
    height: 393px;
    width: 100%;
}
.eval-item{
    width: 100%;
    padding: 10px;
}
.eval-line-remark{
    width: 100%;
    height: 20px;
    line-height: 20px;
}
.small-eval{
    color: #b0b0b0;
    font-size: 14px;
    display: inline-block;
    margin-right: 30px;
    margin-left: 20px;
}
.evaluation-text{
    color: rgb(117, 117, 117);
    height: 50px;
    font-size: 16px;
    line-height: 25px;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 20px 20px 20px;
    margin: 0px;
    overflow: hidden;
}
.eval-hide{
    display: none;
}
.page-change-ctn{
    text-align: center;
}
.center-ctrl{
    display: inline-block;
}
.page-back{
    color: #ff6700;
    margin-right: 40px;
}
.page-next{
    color: #ff6700;
    margin-left: 40px;
}
.page-num{
    width: 30px;
    height: 30px;
    outline:medium;
    border-width: 1px;
    text-align: center;
    border-color: #ff6700;
    border-collapse: unset;
}
.page-submit{
    width: 52px;
    height: 32px;
    background: #ff6700;
    color: white;
    outline: medium;
    border: 1px solid #e9e9e9;
    border-left-width: 0px;
    padding: 0px;
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 0px;
}
.up-eval{
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    cursor: pointer;
}
.more{
    width: 100%;
    text-align: center;
}
.more-img{
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}